img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.ribbondiv {
    position: fixed;
    bottom: 10px;
    width: 100%;


    .toggle{
        position: relative;
        bottom: -155px;
        width: 100%;
        z-index: -1;
        img {
            width: 15%;
            height: auto;
            
        }
    }
    
    .array{
        position: relative;
        bottom: -185px;
        width: max-content;        
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .button{
        margin-left: 15px;
        margin-right: 15px;
                    
        img{
            width: 70px;
            height: auto;
        }
        svg{
            width: 30px;
            height: auto;
            position: relative;
            bottom: 53px;
            left: 21px;
            color:rgb(129, 94, 4)
        }

        
    }
}

